.color {
    border: 1px solid black;
    display: inline-block;
}

.box1 {
    color: red;
    background-color: black;
}

.box2 {
    color: gray;
    background-color: darkmagenta;
}

.box3 {
    color: blue;
    background-color: darkcyan;
}

.box4 {
    color: cyan;
    background-color: red;

}